{% extends "hydroviewer_nepal/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
<div id="map" class="map">
    <div id="map-view-legend" class="map-view-legend ol-unselectable ol-control">
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polyline points="19 1, 1 6, 19 14, 1 19" stroke="#0000FF" fill="transparent" stroke-width="2"/>
            </svg>
            Streams
        </div>
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="purple" fill="purple" stroke-width="2"/>
            </svg>
            20-Year Warnings
        </div>
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="red" fill="red" stroke-width="2"/>
            </svg>
            10-Year Warnings
        </div>
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon points="0 20, 10 0, 20 20" stroke="yellow" fill="yellow" stroke-width="2"/>
            </svg>
            2-Year Warnings
        </div>
    </div>
</div>


{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
<!-- Chart Modal -->
<div class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="watershed-info"></div>
                <div id="interaction"></div>
                <div id="dates" class="hidden form-group" style="padding: 30px 30px 20px 0">
                    <select id="datesSelect" class="form-control"></select>
                </div>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast_tab" aria-controls="forecast_tab" role="tab" data-toggle="tab">Forecast</a></li>
                    <li role="presentation"><a id="historical_tab_link" href="#historical" aria-controls="historical" role="tab" data-toggle="tab">Historical</a></li>
                    <li role="presentation"><a id="flow_duration_tab_link" href="#flow_duration" aria-controls="flow_duration" role="tab" data-toggle="tab">Flow-Duration</a></li>
                    <li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="forecast_tab">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="flex-container-row"><img id="view-file-loading" class="view-file hidden" src="/static/hydroviewer_nepal/images/loader.gif" /></div>
                                <div id="plot" class="hidden">
                                    <div id="container" style="padding-right: 30px"></div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane" id="historical">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="historical_streamflow_data" class="panel-body" style="height: 50%;">
                                    Historical
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane" id="flow_duration">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="monthly_streamflow_data" class="panel-body" style="height: 50%;">
                                    Flow Duration
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane" id="download">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Download
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div id="info" class="hidden"></div>
        </div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="about-modal-label">About HydroViewer</h2>
            </div>
            <div class="modal-body">
                <p id="overview"><b>
                    This web application was created to allow users to visualize hydrologic model results
                    from different sources. It currently displays ECMWF model results.
                </b></p>
                <h3>How it works</h3>
                <h6>1. Click on Get Started.</h6>
                <h6>2. Select a hydrologic model and a corresponsding watershed of interest.</h6>
                <h6>2. Click on View Watershed to load the watershed</h6>
                <h6>4. Once you click View Watershed, the map will automatically zoom to that specific watershed.</h6>
                <h6>5.Click on any of the stream reaches within the watershed.</h6>
                <h6>6. A hydrograph for the selected reach with the most current streamflow result will be displayed
                    in the grapth area next to the map.</h6>
                <h6>7. If previous dates are available, the Select Date dropdown will be displayed on top of the graph.
                    Select any of the available dates to display the forecast for that specific date in the graph.</h6>
                <h6>8. To view the Ensemble and the Standard deviation for the forecast, click on the legend items below the graph.</h6>
                <h6>9. Click the close button to exit the application.</h6>

                <h5>Additional Resources:</h5>
                <p><a href="https://www.ecmwf.int/en/about/what-we-do/global-forecasts" target="_blank">ECMWF Global Forecasts</a></p>
                <p><a href="http://rapid-hub.org/" target="_blank">RAPID River Routing Model</a></p>
                <p><a href="https://streamflow-prediction-tool.readthedocs.io/en/latest/" target="_blank">StreamFlow Prediction Tool</a></p>
                <p><a href="https://servirglobal.net/about-servir" target="_blank">About SERVIR</a></p>
                <p><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of Use</a></p>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}

{% block app_actions %}

{% endblock %}