{% extends base_name|add:"/base.html" %} 

{% load static %} 

{% load tethys_gizmos %} 

{% block import_gizmos %}
{% import_gizmo_dependency plotly_view %} 

{% endblock %} 

{% block app_content %}

<div id="map" class="map">
  <div id="map-view-legend" class="map-view-legend ol-unselectable ol-control">
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polyline
          points="19 1, 1 6, 19 14, 1 19"
          stroke="#0000FF"
          fill="transparent"
          stroke-width="2"
        />
      </svg>
      Streams
      <input
        id="stp-stream-toggle"
        class="toggle-layer"
        type="checkbox"
        checked
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polyline
          points="0 10, 0 0, 10 0, 10 10, 0 10"
          stroke="rgba(255,0,0,1)"
          fill="rgba(255,0,0,1)"
          stroke-width="2"
        />
      </svg>
      Stations
      <input
        id="stp-stations-toggle"
        class="toggle-layer"
        type="checkbox"
        checked
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(128,0,246,1)"
          fill="rgba(128,0,246,0.4)"
          stroke-width="2"
        />
      </svg>
      100-Year Warnings
      <input
        id="stp-100-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(128,0,106,1)"
          fill="rgba(128,0,106,0.4)"
          stroke-width="2"
        />
      </svg>
      50-Year Warnings
      <input
        id="stp-50-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(255,0,0,1)"
          fill="rgba(255,0,0,0.4)"
          stroke-width="2"
        />
      </svg>
      25-Year Warnings
      <input
        id="stp-25-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(255,56,5,1)"
          fill="rgba(255,56,5,0.4)"
          stroke-width="2"
        />
      </svg>
      10-Year Warnings
      <input
        id="stp-10-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(253,154,1,1)"
          fill="rgba(253,154,1,0.4)"
          stroke-width="2"
        />
      </svg>
      5-Year Warnings
      <input
        id="stp-5-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>
      <svg
        width="20"
        height="20"
        viewPort="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          points="0 20, 10 0, 20 20"
          stroke="rgba(254,240,1,1)"
          fill="rgba(254,240,1,0.4)"
          stroke-width="2"
        />
      </svg>
      2-Year Warnings
      <input
        id="stp-2-toggle"
        class="toggle-layer"
        type="checkbox"
        data-bs-toggle="toggle"
        data-size="mini"
      />
    </div>
    <div>{% gizmo select_input2 regions %}</div>
    <div>{% gizmo select_input2 provinces %}</div>
    <div>{% gizmo select_input2 basins %}</div>
    <div>{% gizmo select_input2 subbasins %}</div>
    <div>{% gizmo select_input2 searchList %}</div>
  </div>
</div>
<img
  id="featureLoader"
  style="
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
  "
  src="{% static base_name|add:'/images/loader2.gif' %}"
/>
{% endblock %} 

{% block header_buttons %} 

{% if zoom_info %}
<div class="d-none" style="margin-right: 15px">
  {% gizmo text_input zoom_info %}
</div>
{% endif %} 

{% if geoserver_endpoint %}
<div class="d-none" style="margin-right: 15px">
  {% gizmo text_input geoserver_endpoint %}
</div>
{% endif %} 

{% if model_input %}
<div id="modelSelect" style="margin-right: 15px">
  {% gizmo select_input model_input %}
</div>
{% endif %}

{% if watershed_select %}
<div id="watershedSelect" style="margin-right: 15px">
  {% gizmo select_input watershed_select %}
</div>
{% endif %}

<!--{% if defaultUpdateButton %}
  <div id="defaultModelContainer" style="margin-right: 15px;">
    {% gizmo defaultUpdateButton %}
  </div>
  {% endif %}-->
<div
  class="header-button glyphicon-button"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="View Graph"
>
  <a data-bs-toggle="modal" data-bs-target="#graph"
    ><i class="bi bi-globe"></i>
  </a>
</div>

<!--<div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Table of Contents">
    <a data-bs-toggle="modal" data-bs-target="#toc_modal"><span class="glyphicon glyphicon-list-alt"></span></a>
  </div>-->

<div
  class="header-button glyphicon-button"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="About"
>
  <a data-bs-toggle="modal" data-bs-target="#about"
    ><i class="bi bi-info-circle"></i></a>
</div>
{% endblock %} 

{% block after_app_content %}
<!----Observed Data ----->
<div
  class="modal fade"
  id="obsgraph"
  tabindex="-1"
  role="dialog"
  aria-labelledby="about-modal-label"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div id="station-info" class="col-md-8"></div>
          <div class="col-md-4">
            <div align="right">
              <img
                class="obslogos"
                src="{% static base_name|add:'/images/byu_logo.png' %}"
              />
              <img
                class="obslogos"
                src="{% static base_name|add:'/images/my-icon.png' %}"
              />
              <img
                class="obslogos"
                src="{% static base_name|add:'/images/Servir_logo.jpeg' %}"
              />
            </div>
          </div>

        </div>
        
        <div id="interaction"></div>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" >
          <li  class="nav-item">
            <a
              id="observedWL_tab_link"
              href="#observedWL"
              aria-controls="observedWL"
              data-bs-toggle="tab"
              class="nav-link active"
              >Observed Water Level
              </a>
          </li>
          <li class="nav-item">
            <a
              href="#download_data"
              aria-controls="download_data"
              class="nav-link"
              data-bs-toggle="tab"
              >Download</a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="observedWL">
            <div class="panel panel-default">
              <div class="flex-container-row">
                <img
                  id="observed-loading-WL"
                  class="view-file d-none"
                  src="{% static base_name|add:'/images/loader.gif' %}"
                />
              </div>
              <div id="observed-chart-WL"></div>
              <!-- <iframe id="observed-chart-WL" src=""></iframe> -->
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="download_data">
            <div class="panel panel-default">
              <div class="panel-body">
                <h6>Download Observed Water Level Data</h6>
                <div
                  id="download_observed_waterlevel"
                  class="btn-group d-none long-term-select"
                  role="group"
                >
                  <a
                    class="btn btn-success"
                    role="button"
                    id="submit-download-observed-waterlevel"
                  >
                    <i class="bi bi-play-circle"></i> Download
                    Observed Water Level
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="d-none"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Chart Modal -->
<div
  class="modal fade"
  id="graph"
  tabindex="-1"
  role="dialog"
  aria-labelledby="about-modal-label"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div id="watershed-info" class="col-md-8"></div>
          <div class="col-md-4">
            <div align="right">
              <img
                class="logos"
                src="{% static base_name|add:'/images/byu_logo.png' %}"
              />
              <img
                class="logos"
                src="{% static base_name|add:'/images/glofas_logo.png' %}"
              />
              <img
                class="logos"
                src="{% static base_name|add:'/images/copernicus_logo.png' %}"
              />
            </div>
          </div>

        </div>
        <div id="interaction"></div>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" >
          <li class="nav-item">
            <a
              id="forecast_tab_link"
              href="#forecast_tab"
              aria-controls="forecast_tab"
              class="nav-link active"
              data-bs-toggle="tab"
              >Forecast</a
            >
          </li>
          <li class="nav-item">
            <a
              id="historical_tab_link"
              href="#historical"
              aria-controls="historical"
              class="nav-link"
              data-bs-toggle="tab"
              >Historical Simulation</a
            >
          </li>
          <li class="nav-item">
            <a
              id="flow_duration_tab_link"
              href="#flow_duration"
              aria-controls="flow_duration"
              class="nav-link"
              data-bs-toggle="tab"
              >Historical Simulation Statistics</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#download"
              aria-controls="download"
              class="nav-link"
              data-bs-toggle="tab"
              >Download</a
            >
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="forecast_tab">
            <div class="panel panel-default">
              <div class="panel-body">
                <div
                  id="dates"
                  class="d-none form-group"
                  style="padding: 30px 30px 20px 0"
                >
                  <!-- <select id="datesSelect" class="form-control"></select> -->
                  {% gizmo date_picker %}
                </div>
                <div class="flex-container-row">
                  <img
                    id="view-file-loading"
                    class="view-file d-none"
                    src="{% static base_name|add:'/images/loader.gif' %}"
                  />
                </div>
                <div id="long-term-chart"></div>
                <div
                  class="forecast-table"
                  id="forecast-table"
                  style="display: none"
                >
                  <div id="table">{# The table of forecast go here #}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="historical">
            <div class="panel panel-default">
              <div class="flex-container-row">
                <img
                  id="his-view-file-loading"
                  class="view-file d-none"
                  src="{% static base_name|add:'/images/loader.gif' %}"
                />
              </div>
              <div id="historical-chart" class="panel-body"></div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="flow_duration">
            <div class="panel panel-default">
              <div class="flex-container-row">
                <img
                  id="fdc-view-file-loading"
                  class="view-file d-none"
                  src="{% static base_name|add:'/images/loader.gif' %}"
                />
              </div>
              <div id="fdc-chart" class="panel-body"></div>
              <div class="flex-container-row">
                <img
                  id="seasonal_d-view-file-loading"
                  class="view-file d-none"
                  src="{% static base_name|add:'/images/loader.gif' %}"
                />
              </div>
              <div id="seasonal_d-chart" class="panel-body"></div>
              <div class="flex-container-row">
                <img
                  id="seasonal_m-view-file-loading"
                  class="view-file d-none"
                  src="{% static base_name|add:'/images/loader.gif' %}"
                />
              </div>
              <div id="seasonal_m-chart" class="panel-body"></div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="download">
            <div class="panel panel-default">
              <div class="panel-body">
                <h6>Download Forecast Stats Data</h6>
                <div
                  id="download_forecast"
                  class="btn-group d-none long-term-select"
                  role="group"
                >
                  <a
                    class="btn btn-success"
                    role="button"
                    id="submit-download-forecast"
                  >
                    <i class="bi bi-play-circle"></i> Download
                    Forecast Stats
                  </a>
                </div>
                <h6>Download Forecast Ensemble Data</h6>
                <div
                  id="download_forecast_ens"
                  class="btn-group d-none long-term-select"
                  role="group"
                >
                  <a
                    class="btn btn-info"
                    role="button"
                    id="submit-download-forecast-ens"
                  >
                    <i class="bi bi-play-circle"></i> Download
                    Forecast Ensemble
                  </a>
                </div>
                <h6>Download ERA 5 Data</h6>
                <div id="download_era_5" class="btn-group d-none" role="group">
                  <a
                    class="btn btn-success"
                    role="button"
                    id="submit-download-5-csv"
                  >
                    <i class="bi bi-play-circle"></i> Download ERA
                    5 Data
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="d-none"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- About Modal -->
<div
  class="modal fade"
  id="about"
  tabindex="-1"
  role="dialog"
  aria-labelledby="about-modal-label"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="about-modal-label">About HydroViewer</h2>
      </div>
      <div class="modal-body">
        <p id="overview">
          <b>
            This web application was created to allow users to visualize the
            results of the global hydrologic model GEOGloWS ECMWF Streamflow
            Services.
          </b>
        </p>
        <h3>How it works</h3>
        <h6>1. Click on any of the stream reaches within the watershed.</h6>
        <h6>
          2. A hydrograph for the selected reach with the most current
          streamflow result will be displayed in the graph area next to the map.
        </h6>
        <h6>
          3. If previous dates are available, the Select Date dropdown will be
          displayed on top of the graph. Select any of the available dates to
          display the forecast for that specific date in the graph.
        </h6>
        <h6>4. Click the close button to exit the application.</h6>

        <h5>Additional Resources:</h5>
        <p>
          <a href="https://geoglows.ecmwf.int/documentation" target="_blank"
            >GEOGloWS ECMWF Global Forecasts</a
          >
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Table of Contents Modal -->
<div id="toc_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Table of Contents</h4>
      </div>
      <div class="modal-body tree">
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
            Accumulated Rainfall
            <div class="pull-right">
              <input
                id="wmsToggle0"
                name="AccRainEGE"
                type="checkbox"
                onclick="toggleAcc(0);"
              />
              <label for="AccRainEGE" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            Rainfall Probability > 50mm
            <div class="pull-right">
              <input
                id="wmsToggle1"
                name="EGE_probRgt50"
                type="checkbox"
                onclick="toggleAcc(1);"
              />
              <label for="EGE_probRgt50" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            Rainfall Probability > 150mm
            <div class="pull-right">
              <input
                id="wmsToggle2"
                name="EGE_probRgt150"
                type="checkbox"
                onclick="toggleAcc(2);"
              />
              <label for="EGE_probRgt150" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            Rainfall Probability > 300mm
            <div class="pull-right">
              <input
                id="wmsToggle3"
                name="EGE_probRgt300"
                type="checkbox"
                onclick="toggleAcc(3);"
              />
              <label for="EGE_probRgt300" class="label-default"></label>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %} 

{% block app_actions %} 

{% endblock %}
